.app-content {
  display: flex;

  .dashboard {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 2.5rem;
    }

    .progress-container {
      margin-top: 10vh;
      border-radius: 20px;
      margin-top: 20px;
      background-color: var(--progress-bar-progress-bar);
    }
    
    .progress-bar {
      border-radius: 20px;
      height: 10px;
      background-color: var(--color-purple);
    }
  }

  .score-dashboard {
    flex: 1;

    .score-details {
      display: flex;
      flex-direction: column;
      background-color: var(--panel-transparency);
      padding: 2rem;
      border-radius: 30px;
      align-items: center;
      height: 20vh;
      
      .header-details {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;

        .header-title {
          padding-left: 1rem;
        }
      }

      .result-details {
        font-size: 6rem;
        font-weight: bold;
      }

      .subject-text {
        display: flex;
        color: var(--color-dark-04);
      }
    }
    
    .answer-button {
      background-color: var(--color-purple);
      display: flex;
      justify-content: center;
      color: var(--color-white);
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 15px;
    }
  }

  .subject-list {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .subject-item {
      display: flex;
      margin: 1rem;
      padding: 0.5rem 1rem;
      align-items: center;
      border-radius: 10px;
      max-height: 4vh;
      max-width: 50vw;
      font-weight: bold;
      cursor: pointer;
      background-color: var(--panel-transparency);
      border: 1rem;
    }

    .correct-value{
      border: 2px solid var(--color-200) !important;
      .letter-icon {
        color: var(--color-white);
        background-color: var(--color-200);
      }
    }
    
    .error-value{
      border: 2px solid var(--color-error) !important;
      .letter-icon {
        color: var(--color-white);
        background-color: var(--color-error);
      }
    }

    .subject-item:hover {
      .letter-icon{
        color: var(--color-purple)
      }
    }

    .answer-button {
      background-color: var(--color-purple);
      display: flex;
      justify-content: center;
      color: var(--color-white)
    }
  }

  .subject-icon {
    max-width: 30px;
    max-height: 30px;
    padding: 0.5rem;
    flex-shrink: 1;
    border-radius: 10px;
  }
  
  .letter-icon {
    display: flex;
    color: var(--color-dark-01);
    border-radius: 10px;
    width: 40px;
    justify-content: center;
    background-color: var(--icon-letter-background);
  }
  

  
  .subject-text {
    cursor: pointer;
    padding-left: 3vw;
  }

  .html-icon {
    background-color: var(--color-orange);
  }

  .css-icon {
    background: var(--color-green-soft);
  }

  .js-icon {
    background-color: var(--color-blue);
  }

  .accesibility-icon {
    background-color: var(--color-purple-soft);
  }


}

@media( max-width: 768px) {
  .app-content {
    flex-direction: column;
  }
} 