.App {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .app-content{
    padding: 3vh 10vw;
    min-height: 85vh;
  }
}