@import url('./variables.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[data-theme="light"] {
  background: var(--color-dark-05) url('../src/assets/images/pattern-background-desktop-light.svg') center/cover no-repeat; 
  --text-color: var(--color-dark-01);
  --panel-transparency: var(--color-white);
  --icon-letter-background: var(--color-dark-05);
  --progress-bar-progress-bar: var(--color-white);
}

[data-theme="dark"] {
  background: var(--color-dark-01) url('../src/assets/images/pattern-background-desktop-dark.svg') center/cover no-repeat; 
  --text-color: var(--color-white);
  --panel-transparency: var(--color-dark-05-transparency);
  --icon-letter-background: var(--color-dark-03);
  --progress-bar-progress-bar: var(--color-dark-05-transparency);
}
